.pokemonCard{
box-sizing: content-box ;
background-color: rgba(82, 82, 71, 0.8);
border: solid rgb(34, 12, 12) 2px;
border-radius: 1em;
width: 10em;
height: 5em;
margin: 1em;
padding: 2em;
text-transform: capitalize;
justify-content: center;
}
.HeadCard{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
}
.pokemonImg{
    
    position: relative;
    right: 20px;
    bottom: 55px;
}

.pokemonType{
    display: flex;    
    width: 50%;
    height: 10px;
    position: relative;
    bottom: 11em;
    left: 6.7em;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.types{
    position: relative;
    bottom: 0.5em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    transition:linear
}
.types:hover{
    zoom: 2;
}
.link{
    text-decoration: none;
    color: black;
}
